<!-- TODO --- 2. 按鈕 -->
<div>
  <button mat-button>click me</button>
  <button mat-raised-button>click me</button>
  <button mat-flat-button>click me</button>
  <button mat-stroked-button>click me</button>
</div>
<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>minifab</button>
</div>
<div>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>
</div>
<!-- 取消波紋 -->
<div>
  <button color="primary" disableRipple mat-raised-button>primary</button>
  <button color="accent" disableRipple mat-raised-button>accent</button>
  <button color="warn" disableRipple mat-raised-button>warn</button>
</div>
